@{
    ViewData["Title"] = "Pagina Principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la pagina de Priscila Zuniga!</h1>
    <p style="color: blue">Learn about me<a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
</div>
