@{
    ViewData["Title"] = "Holaaa";
}
<h1>@ViewData["Title"]</h1>
<span style="color: red">Este texto es rojo</span>


<p style="color: blue">Use this page to detail your site's privacy policy.</p>
<p style="color: yellow">Este contenido es de dominio publlico</p>